# Ignore node_modules folder
node_modules/

# Ignore Git files
.git/

# Ignore Environment files
.env

# Ignore Dockerfile itself
Dockerfile

# Ignore local build output
dist/

# Ignore IDE/editor settings
.vscode/
.idea/
*.log